<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Demonstrates Multi User Log In</title>
    <link rel="stylesheet" href="./assets/bootstrap.min.css"></link>
    <style type="text/css">
        body {
            padding: 1em;
        }
    </style>
</head>
<body>
    <div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/spring-projects/spring-session/">Spring Session</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

              <li class="active"><a id="navHome" th:href="@{/}">Home</a></li>
              <li>
                <a id="navLink" th:href="@{/link}">Link</a>
              </li>
            </ul>
                  <ul th:if="${currentAccount} != null or !${accounts.isEmpty()}" class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><c:out value="${username}"/> <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                              <li th:if="${currentAccount} != null"><a id="logout" href="${currentAccount.logoutUrl}">Log Out</a></li>
                              <li th:if="${currentAccount} != null" ><a id="addAccount" href="${addAccountUrl}">Add Account</a></li>

                              <li th:if="!${accounts.isEmpty()}"> class="divider"></li>
                              <li th:if="!${accounts.isEmpty()}" class="dropdown-header">Switch Account</li>
                              <li th:if="!${accounts.isEmpty()}" class="divider"></li>


                          </ul>
                      </li>
                  </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

        <h1>Description</h1>
        <p>This application demonstrates how to use Spring Session to authenticate as multiple users at a time. View authenticated users in the upper right corner.</p>

        <!-- choose -->
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./assets/jquery.min.js"></script>
    <script src="./assets/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./assets/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
